nav a.nav-link {
  font-size: 14px;
  font-weight: 500;
  transition: all .5s ease-in;
  color: rgb(103, 103, 104);
}

nav a.nav-link:hover {
  border-bottom: 2px solid darkorchid;
  color: darkorchid;
  transform: translateY(-5px);
  font-weight: 600;
  animation: pulse 2s infinite;
}
